DEBUG=True
SECRET_KEY=change-me
ALLOWED_HOSTS=localhost,127.0.0.1,backend,nginx
CSRF_TRUSTED_ORIGINS=http://localhost,http://127.0.0.1
CORS_ALLOWED_ORIGINS=http://localhost,http://localhost:5173,http://127.0.0.1,http://127.0.0.1:5173

POSTGRES_DB=guess_song
POSTGRES_USER=guess_song
POSTGRES_PASSWORD=guess_song
DATABASE_URL=postgres://guess_song:guess_song@postgres:5432/guess_song
REDIS_URL=redis://redis:6379/0
YOUTUBE_API_KEY1=
YOUTUBE_API_KEY2=
